.cart {
 position: absolute;
  
   
}
.cart h1 {
    font-size: 20px;
  
}
.cart h2 {
    font-size: 20px;
    margin-top: 15px;
  
}


.cart h5 {
  font-size: 17px;
}
.cart input {
    width: 20px;
    top: 20x;
    border: none;
}
.cart img {
position: center;
}
.rounde{
    padding: 10px;
    border-radius: 20px;
}
.card-1{
  padding-bottom: 20px;
    border-radius: 30px;

}
.card-body-1{
    margin-bottom: 100px;
    background-color: rgb(117, 18, 156);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
}
.card-body-1 a{
    margin-right: 30px;
    margin-bottom: 70px;
    margin-top: 20px;
    margin-left: 70px;
   color: rgb(236, 205, 27);
}
.card-body-1 h5{
    font-size: 15px;
    margin-left: 30px;
     color: white;
     
}
.card-body-1 h4{
    margin-bottom: 50px;
    margin-left: 70px;
     color: white;
     margin-top: -45px;
     margin-right: 30px;
    font-size: 14px;
}
.card-body-1 h6{
    font-size: 13px;
  margin-top: -90px;
    margin-left: 180px;
     color: yellow;
     
}

.card-body-1 button{
 
    margin-left: 20px;
    margin-right: 10px;
    margin-top: -70px;
}
.card-link{
    margin-left:30px ;
}
.price{
    font-size: 14px;
   color:gray ;
}
.total {
    border-bottom:solid rgb(206, 206, 206) 1px;
   margin-top: 40px;
}
.total h1{
    font-style: normal;
    font-size: 17px;
    margin-top: 20px;
    color: rgb(43, 43, 43);
}

.boton{
    padding-top: 20px;
    position: absolute;
    margin-left: 180px;
    margin-bottom: 50px;
    
}
